<h2 mat-dialog-title>Hey {{ data.nombre }}, vas a crear un nuevo hospital. ( {{ data.id }} )</h2>
<mat-dialog-content> 
    <form >
        <div class="row">
            <div class="form-group">
                <label class="control-label">Nombre:</label>
                <input  [formControl]="nombre" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Agregar Foto</label>
                <input type="file" formControlName='img' (change)="seleccionImagen($event)" class="form-control" >    
            </div>

        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button  [mat-dialog-close]="crearHospital()" class="success">Crear</button>
</mat-dialog-actions>